<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
      <link rel="stylesheet" href="styles/style.css">
  </head>
<body ng-app="lunchCheck">
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" ng-model="list">
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="checkList()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           {{message}}
           <!-- Your message can go here. -->
         </div>
   </div>
   <script src="../../angular.min.js"></script>
   <script src="app.js"></script>
</body>
</html>
